cosign.key
*.key
*.pem

*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.env
.env.*
*.env

.docker/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

local/
scratch/

.argocd-password.txt
.argocd-hash.txt
.infisical-db-password.txt
.infisical-app-secrets.txt
.cosign-password.txt
